<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h2>NTT DATA</h2>
                
            </div>
            <div class="footer-col">
                <h4>Categorie</h4>
                <ul>
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Jewelery</a></li>
                    <li><a href="#">Men's clothing</a></li>
                    <li><a href="#">Women's clothing</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>Customer Care</h4>
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Discout</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Orders History</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Pages</h4>
                <ul>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
